*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.message.own .messageText{
    background-color: rgb(185, 248, 185);
    
}
.messageText {
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(245, 245, 245);
}
.message.own .messageImg {
    order: 1;
}
.message.own .messageText{
    order: 0;
    text-align: right;
}
.message{
    display: flex;
    align-items: center;

}
.messagesHolder{
    min-width: 600px;
    margin: 0 auto;
    max-height: 600px;
    overflow: auto;
    padding-right: 3px;
}
.user-info, .chatForm {
    display: flex;
    align-items: center;
    justify-content: center;
}
.messageImg{
    width: 50px;
    height: 50px;
}
.mainHolder{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.chatForm {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputField, .inputButton{
    max-width: 600px !important;
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    font-size: 1rem;
}
.user-info{
    background-color: #e6e6e6;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    gap: 25px;
}
.usernameImg{
    display: flex;
    flex-direction: column;
}
.user-info img{
    border-radius: 50%;
}
.usernameImg button{
    padding: 10px;
    border-radius: 15px;
}
button:hover{
    transition: 0.2s;
    background-color: #e2e2e2;
    cursor: pointer;
}
.inputField:hover, .inputField:focus{
    transition: 0.2s;
    background-color: #f0f0f0;
}
::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
    
}
::-webkit-scrollbar-thumb{
    background: #e5e5e5;
    border-radius: 5px;
}
