.message.own .messageText{
    background-color: rgb(185, 248, 185);
    width: 100%;
    border-radius: 15px;
    padding: 10px;
}
.message.own .messageImg {
    order: 1;
}
.message.own .messageText{
    order: 0;
}
.message{
    background-color: #ffcbcb;
    display: flex;
    align-items: center;

}
.messagesHolder{
    max-width: 600px;
    margin: 0 auto;
    max-height: 600px;
    overflow: auto;
}
.user-info, .chatForm {
    display: flex;
    align-items: center;
    justify-content: center;
}
.messageImg{
    width: 50px;
    height: 50px;
}

